// COLORS

$black: #323232;
$black-overlay: rgba(32, 32, 32, 0.5);
$black-overlay-dark: rgba(32, 32, 32, 0.75);
$instock-blue: #004892;
$instock-blue-dark: #002f5f;
$brainflix-blue: #0095ff;
$brainflix-blue-dark: #0065ad;
$white: #ffffff;
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;
